body {
    background-color: #0931F5;
}

.container {
    border-radius: 5px 5px;
    color: white;
    background-color: #020B36;
    margin-left: auto;
    margin-right: auto;
    width: 21%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

h1{
    padding: 0 0 10px 10px;
}

.pwContainer {
    border: #051775 solid 5px;
    border-radius: 5px;
    letter-spacing: 2px;
	padding: 10px 10px;
	height: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 1rem;
}

.pwSetting {
    margin-left: auto;
    margin-right: auto;
    width: 91%;
}

.pwInput {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.btn {
    background-color: #092CDB;
    border: solid 3px #051775;
    padding: 10px;
    font-size: 2vw;
    border-radius: 0 0 5px 5px;
}

.btn:hover {
    background-color: #051775;
}